<div class="player-component" id="player-component-container">
    <div style="width: 50%; display: flex; flex-direction: row;">
        <div style="width: 40%;" id="app-player-container">
            <app-player></app-player>
        </div>
        <div class="player-details-box" id="player-details">
            <div class="name-bar" id="name">Plaer Name</div>
            <div class="level-bar" id="level">Level: 1</div>
            <div class="hp-bar" id="HP">HP</div>
            <div class="mana-bar" id="MANA">MANA</div>
            <div class="exp-bar" id="EXP">EXP</div>
        </div>
    </div>
</div>